<div class="container">
  <div class="row">
    <div class="col-md-12">
      </br>
      <h2>Songs</h2>
      </hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Play</th>
            <th scope="col">Single?</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td>{{songID}}</td>
            <td>{{title}}</td>

            {{!-- <td><a class="btn btn-primary" href="{{songFile}}">Play</a></td> --}}
            <td><audio controls>
                <source src="{{songFile}}" type="audio/mpeg">
              </audio></td>
            <td>{{single}}</td>
            <td><a class="btn btn-danger" href="/songs/delete/{{songID}}">DELETE</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{#unless data}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
    {{/unless}}
  </div>
</div>